<div>
    <app-areachart></app-areachart>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
    <mat-card fxFlex="25">
        <app-card label="New Users" total="18k" percentage="50"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="Users Engagment" total="8k" percentage="40"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="Users Retention" total="10k" percentage="30"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="Users Available" total="12k" percentage="60"></app-card>
    </mat-card>
    
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <div>table</div>
    <div>Pie charts</div>
</div>
