<div>
    <app-areachart></app-areachart>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
    <mat-card fxFlex="25">
        stats
    </mat-card>
    <mat-card fxFlex="25">
        stats
    </mat-card>
    <mat-card fxFlex="25">
        stats
    </mat-card>
    <mat-card fxFlex="25">
        stats
    </mat-card>
    
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <div>table</div>
    <div>Pie charts</div>
</div>
